html {
  height: 100%;
}

body {
  font: 18px Verdana;

  color: #EEE;
  background: #333;
}

html, canvas, img {
  image-rendering: optimizeSpeed;
  image-rendering: optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
}

canvas {
  display: block;

  border: 0;
  background: rgba(0, 0, 0, 0.25);

  margin-top: 100px;
}

.container {
  width: 900px;
  margin: 0 auto;

  text-align: center;
}

.viewport {
  width: 900px;
  height: 460px;
}